<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Timmana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/flash.css">

    <!-- <link rel="icon" href="data:,"> -->
    <title>Annapurna</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />


    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <%- block('styles'); %>

        <style>
            * {
                font-family: 'Inter', sans-serif;
            }
            
            textarea::-webkit-scrollbar {
                display: none;
            }
            /* For Firefox */
            
            textarea {
                scrollbar-width: none;
            }
            
            .emoji-404 {
                position: relative;
                animation: mymove 2.5s infinite;
            }
            
            @keyframes mymove {
                33% {
                    top: 0px;
                }
                66% {
                    top: 10px;
                }
                100% {
                    top: 0px
                }
            }
        </style>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <script src="https://kit.fontawesome.com/6a302bbec6.js" crossorigin="anonymous"></script>

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        lineClamp: {
                            7: '7',
                            8: '8',
                            9: '9',
                            10: '10'
                        },
                        colors: {
                            primary: {
                                clifford: '#da373d',
                                "50": "#eff6ff",
                                "100": "#dbeafe",
                                "200": "#bfdbfe",
                                "300": "#93c5fd",
                                "400": "#60a5fa",
                                "500": "#3b82f6",
                                "600": "#2563eb",
                                "700": "#1d4ed8",
                                "800": "#1e40af",
                                "900": "#1e3a8a"
                            }
                        },
                        fontFamily: {
                            'timmana': [
                                'Timmana', 'sans-serif'
                            ],
                            'trocchi': [
                                'Trocchi', 'serif'
                            ],
                            'inika': ['Inika', 'serif']
                        },
                        screens: {
                            'sm-micro': '360px'
                        },
                        flexGrow: {
                            2: '2'
                        }
                    }
                }
            }
        </script>
</head>

<body>
    <%- include('../partials/navbar') %>
        <%- include('../partials/success') %>

            <% console.log(user) %>

                <%- body %>

                    <%- include('../partials/footer') %>

                        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
                        <script>
                            document.getElementById('nav-toggle').addEventListener('click', function() {
                                document.getElementById('nav-content').classList.toggle('hidden');
                            });
                        </script>
                        <script>
                            function autoAdjustTextarea() {
                                const textarea = document.getElementById("area-of-work");
                                textarea.style.height = "auto";
                                textarea.style.height = textarea.scrollHeight + "px";
                            }

                            function autoAdjustMissionArea() {
                                const textarea = document.getElementById("mission");
                                textarea.style.height = "auto";
                                textarea.style.height = textarea.scrollHeight + "px";
                            }
                        </script>

                        <script src="javascripts/flash.js"></script>
                        <%- block('javascript'); %>
</body>

</html>
