<% layout('layouts/boilerplate') %>

    <div class="bg-slate-800 min-h-screen">
        <div class="max-w-max mx-auto md:py-7 py-4">
            <form class="p-7 rounded-lg bg-white max-w-[40rem] mx-2" action="/restaurants/<%= restaurant._id %>/edit?_method=PUT" method="POST">
                <span class="block w-full text-2xl font-bold mb-5">Update Your Restaurant Details</span>
                <div class="mb-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 " for="name">
                            Restaurant Name <span  style="color:red"> *</span>
                        </label>
                    <input class="bg-gray-50 border-1 border-gray-300 text-gray-900 rounded-md w-full py-2 px-3 focus:ring-black focus:border-black" id="name" type="text" name="restaurantName" placeholder="Annapurna Foundation" value="<%= restaurant.restaurantName %>">
                </div>

                <div class="mb-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 " for="email">
                        Email <span  style="color:red"> *</span>
                    </label>
                    <input readonly class="bg-gray-100 border-1 border-gray-300 text-gray-500 rounded-md w-full py-2 px-3 focus:ring-transparent focus:border-transparent" id="email" type="email" name="restaurantContactDetails[email]" placeholder="restaurant-name@gmail.com"
                        value="<%= restaurant.restaurantContactDetails.email %>">
                </div>

                <div class="mb-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 " for="weblink">
                        Website Link 
                    </label>
                    <input class="bg-gray-50 border-1 border-gray-300 text-gray-900 rounded-md w-full py-2 px-3 focus:ring-black focus:border-black" id="weblink" type="text" name="restaurantWebsite" placeholder="https://annapurna.com" value="<%= restaurant.restaurantWebsite %> ">
                </div>

                <div class="md:mb-4 flex flex-wrap md:gap-4">
                    <div class="mb-4 md:mb-0 w-full md:w-1/3 md:flex-grow">
                        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">Contact Number 1 <span  style="color:red"> *</span></label>
                        <input type="text" class="bg-gray-50 border-1 border-gray-300 text-gray-900 rounded-md w-full py-2 px-3 focus:ring-black focus:border-black" id="phone" name="restaurantContactDetails[contact1]" placeholder="911234567890" value="<%= restaurant.restaurantContactDetails.contact1 %>">
                    </div>
                    <div class="mb-4 md:mb-0 w-full md:w-1/3 md:flex-grow">
                        <label for="mobile" class="block mb-2 text-sm font-medium text-gray-900 ">Contact Number 2</label>
                        <input type="text" class="bg-gray-50 border-1 border-gray-300 text-gray-900 rounded-md w-full py-2 px-3 focus:ring-black focus:border-black" id="mobile" name="restaurantContactDetails[contact2]" placeholder="911234567890" value="<%= restaurant.restaurantContactDetails.contact2 %>">
                    </div>
                </div>

                <div class="mb-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 " for="area-of-work">
                        Restaurant Description <span  style="color:red"> *</span>
                        <div class="relative inline-block group border-[1px] border-b-black border-x-transparent border-t-transparent border-dotted"><i class="fas fa-info-circle"></i>
                            <span class="shadow-lg capitalize hidden min-w-max bg-slate-800 text-white text-center py-[5px] px-[10px] absolute -top-1 left-6 group-hover:block rounded-md after:content-[''] after:absolute after:top-[85%] after:right-full after:-mt-4 after:border-[5px] after:border-solid after:border-y-transparent after:border-r-slate-800 after:border-l-transparent">Use comma separated values</span>
                        </div>
                    </label>
                    <textarea class="bg-gray-50 border-1 border-gray-300 text-gray-900 rounded-md w-full py-2 px-3 focus:ring-black focus:border-black" oninput="autoAdjustTextarea()" id="area-of-work" name="restaurantDescription" type="text" placeholder="We Serve Good Food"><%= restaurant.restaurantDescription %></textarea>
                </div>

                <span class="block mb-4 mt-2 text-md font-bold text-gray-900"> Location Details </span>
                <div class="mb-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 " for="address-line-1">
                        Address Line 1 <span  style="color:red"> *</span>
                    </label>
                    <input class="bg-gray-50 border-1 border-gray-300 text-gray-900 rounded-md w-full py-2 px-3 focus:ring-black focus:border-black" id="address-line-1" name="restaurantAddress[street]" type="text" placeholder="86, new sitaramdera" value="<%= restaurant.restaurantAddress.street %>">
                </div>
                <div class="md:mb-4 flex flex-wrap md:gap-4">
                    <div class="mb-4 md:mb-0 w-full md:w-1/3 md:flex-grow">
                        <label for="country" class="block mb-2 text-sm font-medium text-gray-900 ">Country <span  style="color:red"> *</span> </label>
                        <input type="text" class="bg-gray-50 border-1 border-gray-300 text-gray-900 rounded-md w-full py-2 px-3 focus:ring-black focus:border-black" id="country" name="restaurantAddress[country]" placeholder="India" value="<%= restaurant.restaurantAddress.country %>">
                    </div>
                    <div class="mb-4 md:mb-0 w-full md:w-1/3 md:flex-grow">
                        <label for="state" class="block mb-2 text-sm font-medium text-gray-900 ">State <span  style="color:red"> *</span> </label>
                        <input type="text" class="bg-gray-50 border-1 border-gray-300 text-gray-900 rounded-md w-full py-2 px-3 focus:ring-black focus:border-black" id="state" name="restaurantAddress[state]" placeholder="Jharkhand" value="<%= restaurant.restaurantAddress.state %>">
                    </div>
                </div>
                <div class="md:mb-4 flex flex-wrap md:gap-4">
                    <div class="mb-4 md:mb-0 w-full md:w-1/3 md:flex-grow">
                        <label for="city" class="block mb-2 text-sm font-medium text-gray-900 ">City <span  style="color:red"> *</span> </label>
                        <input type="text" class="bg-gray-50 border-1 border-gray-300 text-gray-900 rounded-md w-full py-2 px-3 focus:ring-black focus:border-black" id="city" name="restaurantAddress[city]" placeholder="Jamshedpur" value="<%= restaurant.restaurantAddress.city %>">
                    </div>

                    <div class="mb-4 md:mb-0 w-full md:w-1/3 md:flex-grow">
                        <label for="zip" class="block mb-2 text-sm font-medium text-gray-900 ">Zip Code <span  style="color:red"> *</span> </label>
                        <input type="text" class="bg-gray-50 border-1 border-gray-300 text-gray-900 rounded-md w-full py-2 px-3 focus:ring-black focus:border-black" id="zip" name="restaurantAddress[zip]" placeholder="831009" value="<%= restaurant.restaurantAddress.zip %>">
                    </div>
                </div>

                <div class="mt-5 flex items-center justify-between w-100">
                    <button class="bg-blue-500 w-full hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            Update Details
                    </button>
                </div>
            </form>
        </div>
    </div>