<% layout('layouts/boilerplate') %>

    <% block('styles', `<link rel="stylesheet" href="stylesheets/otp.css">`) %>
        <% block('styles', `<script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>`) %>
            <% block('styles', `<link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />`) %>

                <div class="bg-red-100">

                    <div class="grid grid-cols-1 md:grid-cols-2 p-2">
                        <div id="map" class="rounded-md order-2 h-80 md:h-full md:order-1 mx-1"></div>
                        <div class="order-1 md:order-2 min-h-40 flex flex-col gap-4 p-3 md:px-5 sm-micro:text-center md:col-start-2 md:col-span-1 md:text-left md:gap-6">
                            <h1 class="text-2xl font-bold md:text-4xl">
                                <%= receiver.receiverName %>
                            </h1>
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-bold md:text-2xl">Address Details</h2>
                                <div>
                                    <p>
                                        <%= receiver.receiverAddress.street %>
                                    </p>
                                    <p>
                                        <%= receiver.receiverAddress.city %>
                                    </p>
                                    <p>
                                        <%= receiver.receiverAddress.state %> ,
                                            <%= receiver.receiverAddress.country %> -
                                                <%= receiver.receiverAddress.zip %>
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-bold md:text-2xl">Contact Details</h2>
                                <div class="flex flex-col gap-2">
                                    <div>
                                        <i class="fa-solid fa-envelope"></i>
                                        <span><%= receiver.receiverContactDetails.email %></span>
                                    </div>
                                    <div class="flex flex-row gap-4 sm-micro:justify-center md:justify-start">
                                        <div>
                                            <i class="fa-solid fa-phone"></i>
                                            <span><%= receiver.receiverContactDetails.contact1 %></span>
                                        </div>

                                        <% if(receiver.receiverContactDetails.contact2) { %>
                                            <div>
                                                <i class="fa-solid fa-phone"></i>
                                                <span><%= receiver.receiverContactDetails.contact2 %></span>
                                            </div>
                                            <% } %>

                                    </div>
                                </div>
                            </div>

                            <% if(user.email.toString() === receiver.username.toString()) { %>
                                <div class="grid grid-cols-1 gap-4 sm-micro:grid-cols-2 sm-micro:gap-2">
                                    <a href="/receivers/<%= receiver._id %>/edit" class="px-3 py-2 text-white text-center font-medium rounded-md bg-blue-600">Edit Details</a>
                                    <form action="/receivers/<%= receiver._id %>?_method=DELETE" method="POST">
                                        <button href="/receivers/<%= receiver._id %>" class="w-full px-3 py-2 text-white text-center font-medium rounded-md bg-red-600">Delete Account</button>
                                    </form>
                                </div>
                                <% } %>

                        </div>
                    </div>

                    <div class="bg-red-100">
                        <img src="images/design.svg" class="mx-auto w-20 md:w-32" alt="">
                    </div>

                    <div class="grid p-3 my-2 grid-cols-1 md:grid-cols-2 md:gap-2">
                        <div class="bg-gray-200 md:bg-gradient-to-br md:from-amber-200 md:to-orange-300 min-h-[4rem] flex items-center justify-center rounded-md md:col-start-1 md:col-span-1">
                            <h2 class="text-2xl font-medium md:text-4xl">About Us</h2>
                        </div>
                        <div class="py-3 text-justify text-md md:col-start-2 md:col-span-1 md:text-lg md:py-0 md:ml-3">
                            <p>
                                <%= receiver.receiverDescription %>
                            </p>
                            <div class="py-3">
                                <h1 class="font-bold text-lg">Registration No.</h1>
                                <p>
                                    <%= receiver.receiverRegistrationNo %>
                                </p>
                            </div>
                            <div class="flex flex-row items-center justify-start">
                                <a href="<%= receiver.idProofImg.url %>" class="max-w-max text-blue-700 text-bold text-md md:text-lg">Validation Document </a>
                                <img src="./public/images/frame.svg" class="w-8" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="bg-red-100 mb-5">
                        <img src="images/line.svg" class="mx-auto w-20 md:w-32" alt="">
                    </div>

                    <div class="flex flex-col gap-4 py-5">
                        <h1 class="text-2xl font-bold text-center md:text-4xl">Areas of Work</h1>
                        <ul class="p-2 work flex flex-wrap justify-start gap-2 justify-center items-center">
                            <% for(let i = 0; i < receiver.receiverAreaOfWork.length; i++) { %>
                                <li class="bg-white px-2 py-1 rounded-md text-sm md:text-lg">
                                    <%= receiver.receiverAreaOfWork[i] %>
                                </li>
                                <% } %>
                        </ul>
                    </div>

                    <% if(nearestRestaurants.length) { %>
                        <div class="overflow-x-auto p-2">
                            <table class="table w-full border-2 rounded-full">
                                <thead>
                                    <tr class="bg-gray-50 border-b border-gray-200">
                                        <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Restaurant Name</th>
                                        <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Claimed Status</th>
                                        <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Distance (in Km)</th>
                                    </tr>
                                </thead>
                                <tbody class="divide-y divide-x divide-gray-200">
                                    <% for(let restaurant of nearestRestaurants) { %>
                                        <tr class="bg-white border-b border-gray-200">
                                            <td class="py-3 whitespace-nowrap text-gray-800 text-center">
                                                <a href="/restaurants/<%= restaurant._id %>">
                                                    <%= restaurant.restaurantName %>
                                                </a>

                                            </td>
                                            <td class="px-4 py-3 whitespace-nowrap text-center">
                                                <% if(restaurant.fulfilled) { %>
                                                    <span class="px-2 py-1 rounded-md text-green-600 bg-green-200 text-bold">Claimed</span>
                                                    <% } else { %>
                                                        <span class="px-2 py-1 rounded-md text-yellow-600 bg-yellow-200 text-bold">Unclaimed</span>
                                                        <% } %>
                                            </td>
                                            <td class="px-4 py-3 whitespace-nowrap text-center">
                                                <%= restaurant.distance %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            <div class="py-5">
                                <h1 class="text-center text-lg font-medium">Sorry! Couldn't find any restaurant donating near you</h1>
                            </div>
                            <% } %>
                </div>



                <script>
                    const receiverDetails = <%- JSON.stringify(receiver, (key, value) => {
                    if (typeof value === 'string') {
                        return value.replace(/'/g, "\'");
                    }
                    return value;
                    }) %>;

                    // console.log(receiver)
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLEMAP_TOKEN %>"></script>

                <script src="/javascripts/showPageMap2.js"></script>
                <% block('javascript', `<script src="javascripts/otp.js"></script>`) %>
