<% layout('layouts/boilerplate') %>

    <% block('styles', `<link rel="stylesheet" href="stylesheets/otp.css">`) %>
        <% block('styles', `<script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>`) %>
            <% block('styles', `<link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />`) %>

                <div class="p-3 md:p-5 bg-red-200 min-h-screen">
                    <h1 class="text-3xl text-bold text-center py-5">
                        <%= receiver.receiverName %>
                    </h1>

                    <div class="mb-5 flex flex-col sm:flex-row items-center justify-center gap-4">
                        <span><i class="fa-solid fa-envelope"></i> <%= receiver.receiverContactDetails.email %></span>
                        <div class="flex flex-row gap-4">
                            <span><i class="fa-solid fa-phone"></i><%= receiver.receiverContactDetails.contact1 %></span>
                            <% if(receiver.receiverContactDetails.contact2) { %>
                                <span><i class="fa-solid fa-phone"></i><%= receiver.receiverContactDetails.contact2 %></span>
                                <% } %>
                        </div>
                    </div>

                    <div class="w-full flex flex-wrap flex-row gap-3 mb-3 justify-center contents-center">
                        <a href="/receivers/<%= receiver._id %>/edit" class="px-3 py-2 rounded-md bg-blue-600 hover:drop-shadow-lg hover:bg-blue-700 text-white font-medium text-lg">Edit Details</a>
                        <form action="/receivers/<%= receiver._id %>?_method=DELETE" method="POST">
                            <button class="px-3 py-2 rounded-md bg-red-600 hover:drop-shadow-lg hover:bg-red-700 text-white font-medium text-lg">Delete receiver</button>
                        </form>
                    </div>
                    <!-- <div class="grid grid-cols-1 sm:grid-cols-3">
                        <div class="sm:col-start-1 sm:col-span-1">
                            <p class="text-md pb-5 text-justify">
                                <%= receiver.receiverDescription %>
                            </p>
                        </div>
                        <div id='map' style='height: 300px;' class="w-full mb-4 sm:col-start-2 sm:col-span-2"></div>
                    </div> -->
                    <div class="grid grid-cols-1 md:grid-cols-2">
                        <div>
                            <h1 class="text-2xl font-bold">About Us</h1>
                            <p class="text-md p-3 text-justify">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum at veritatis sunt esse assumenda? Laboriosam repellat accusantium illo vitae harum voluptatibus libero sequi exercitationem incidunt corrupti? Inventore nostrum excepturi praesentium?
                            </p>
                        </div>
                        <div id='map' class="ml-auto w-full md:h-80 mb-4 aspect-square"></div>
                    </div>
                </div>
                <script>
                    const receiverDetails = <%- JSON.stringify(receiver, (key, value) => {
                    if (typeof value === 'string') {
                        return value.replace(/'/g, "\'");
                    }
                    return value;
                    }) %>;

                    // console.log(receiver)
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLEMAP_TOKEN %>"></script>

                <script src="/javascripts/showPageMap2.js"></script>
                <% block('javascript', `<script src="javascripts/otp.js"></script>`) %>
